DtrClientCore/Service References/DtrServiceRef/FileTransferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/FileTransferService?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="hasNext">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hasNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasNextResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFileFromServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFileFromServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="fileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileHash" nillable="true" type="xs:string" />
  <xs:element name="fileName" nillable="true" type="xs:string" />
  <xs:element name="length" type="xs:long" />
  <xs:element name="RemoteFileHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>